@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap";

:root {
  --blue: #3994ff;
  --yellow: #f0b501;
  --green: #6bcb77;
  --bodytext: #575757;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Poppins,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  box-shadow: 0 2px 11px 2px rgb(0 0 0 / 20%);
}

.primary-button {
  background-color: #3994ff;
  border-radius: 10px;
  border: 0;
  color: white;
  padding: 0.7rem 2rem;
  width: max-content;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.ideacard {
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.container {
  padding: 3rem 6rem;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 3rem 2rem;
  }
}

.disabled-button {
  opacity: 0.6;
}

.bodytext {
  color: var(--bodytext);
}

.input {
  border: 3px solid #c7deff;
  border-radius: 15px;
  padding: 0.6rem;
  resize: none;
}
